.parrafo{
    text-decoration: none;
    color: #131110;
    font-size: 20px;
    text-align: left;
    font-family: 'Roboto';
    margin-left: 6vw;
    margin-right: 8vw;
}

.titulos{
    text-decoration: none;
    color: #131110;
    font-size: 24px;
    text-align: left;
    font-family: 'Roboto';
    margin-left: 6vw;
    margin-right: 8vw;
    
}
.titulos2{
    text-decoration: none;
    color: #EE741C;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto';
    margin-top: 6vh;
}
.titulos3{
    text-decoration: none;
    color: #EE741C;
    font-size: 20px;
    text-align: left;
    font-family: 'Roboto';
    margin-left: 6vw;
}
.titulos4{
    text-decoration: none;
    color: #131110;
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto';
    margin-left: 6vw;
    
}

@media (max-width: 820px){
    .parrafo{
        font-size: 18px;
        text-align: justify;
        margin-left: 25px;
        margin-right: 30px;
    }
    
    .titulos{
        color: #EE741C;
        font-size: 24px;
        text-align: center;
        font-family: 'Roboto';
        margin-top: 15px;
        font-weight: 500;

        
    }
    .titulos2{
        color: #131110;
        font-size: 20px;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 600;
        margin-top: 15px;
    }
    .titulos3{
        color: #EE741C;
        font-size: 20px;
        text-align: left;
        font-family: 'Roboto';
        margin-left: 25px;
        margin-top: 15px;
        font-weight: 500;

    }
    .titulos4{
        text-decoration: none;
        color: #131110;
        font-size: 25px;
        text-align: center;
        font-family: 'Roboto';
        margin-left: 25px;
        font-weight: 600;
        
    }

}