.contenedor{
    background-color: #ffeee2;
    width: 30vw;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.20);
    margin-top: 2%;
    border-radius: 20px;
}
.titulo{
    text-decoration: none;
    margin-left: 1vw;
    margin-right: 1vw;
    color: #EE741C;
    font-size: 26px;
    font-family: 'Poppins';
}
.texto1{
    text-decoration: none;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins';
}
.texto2{
    text-decoration: none;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 18px;
    font-family: 'Poppins';
}
.texto3{
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 18px;
    font-family: 'Poppins';
}