.contenedor {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.cont{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: 6vw;
    margin-right: 4vw;
}

.foto{
    position: relative;
    width: 350px;
    margin-top: 2vh;
    
}
.texto1{
    color: #131110;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    font-family: 'Poppins';
    font-style: italic;

}
.texto2{
    color: #131110;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    font-family: 'Poppins';
}
.texto3{
    color: #131110;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: 'Poppins';
    margin-right: 4%;
    margin-left: 4%;
}

.boton{
    width: 12vw;
    height: 4vh;
    background-color: #EE741C;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 18px;
    color: white;
    border-radius: 16px;
    border: solid 1px #EE741C;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin-bottom: 3%;

}
.boton:hover{
    background-color:#ffe6d4;
    border: solid 1px #ffe6d4;
    transition: 1s;
}